body {
    display: flex;
    height: 100vh;
}

.left-side {
    /* border-width: 3px;
    border-style: solid; */

    background-image: url("assets/leaf.jpg");
    background-size: 100%;
    flex: 1;
    padding-top: 635px;
}

.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.logo-container {
    /* border-width: 3px;
    border-style: solid; */

    display: flex;
    height: 180px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    gap: 0px;
    padding: 0px;
    margin: 0px;
}

.logo-text {
    /* border-width: 3px;
    border-style: solid; */

    font-size: 60px;
    font-family: 'Rubik';
    padding-top: 60px;
    color: whitesmoke;
    opacity: 0.9;
}

svg {
    /* border-width: 3px;
    border-style: solid; */

    color: whitesmoke;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    transform: translate(0px, 40px);
}

.top,
.middle,
.bottom {
    flex: 1;
}

.top,
.bottom {
    background-color: #e5e7eb;
}

.top p {
    font-family: 'Rubik';
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 5vw;
}

.submit-button {
    padding: 1vw 3vw 1vw 3vw;
    background-color: #596D48;
    font-family: 'Rubik';
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    border-radius: 10px; 
}

.submit-button:hover {
    text-shadow: gray 2px 5px;
}