body {
    display: flex;
}

.left-side {
    border-width: 3px;
    border-style: solid;

    background-image: url("assets/leaf.jpg");
    background-size: 100%;
    height: 500px;
    flex: 1;
}

.right-side {
    border-width: 3px;
    border-style: solid;
    border-color: red;
    flex: 2;
}

img.side-background {
    max-width: 100%;
}