:root {
    --theme-color: #596D48;
    --light-text-color: whitesmoke;
    --main-font: 'Rubik';
  }

body {
    display: flex;
    height: 100vh;
    font-family: var(--main-font);
}

.left-side {
    /* border-width: 3px;
    border-style: solid; */

    background-image: url("assets/leaf.jpg");
    background-size: 100%;
    flex: 1;
    padding-top: 635px;
}

.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.logo-container {
    /* border-width: 3px;
    border-style: solid; */

    display: flex;
    height: 180px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    gap: 0px;
    padding: 0px;
    margin: 0px;
}

.logo-text {
    /* border-width: 3px;
    border-style: solid; */

    font-size: 60px;
    padding-top: 60px;
    color: var(--light-text-color);
    opacity: 0.9;
}

svg {
    /* border-width: 3px;
    border-style: solid; */

    color: var(--light-text-color);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    transform: translate(0px, 40px);
}

.top,
.middle,
.bottom {
    flex: 1;
}

.top,
.bottom {
    background-color: #e5e7eb;
}

.bottom {
    padding: 3vw 3vw 1vw 3vw;
}

.bottom p {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1vw;
}

.top p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 5vw;
}

a {
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    text-decoration: underline;
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.middle .form-cell {
    display: inline-block;
    width: 40%;
    margin: 0.5vh;
    margin-left: 50px;
}

input:focus:not([type="submit"]) {
    border-color: blue;
    box-shadow: 10px 5px 5px lightgray;
}

input:not([type="submit"]) {
    appearance: none;
    width: 100%;
    height: 1.5rem;
    background-color: var(--light-text-color);
    border: 1px solid var(--theme-color);
    border-radius: 3px;
}

.legend {
    font-size: 2rem;
    margin-left: 48px;
}

.submit-button {
    padding: 1vw 3vw 1vw 3vw;
    background-color: var(--theme-color);
    color: var(--light-text-color);
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    border-radius: 10px; 
    width: auto;
}

.submit-button:hover {
    text-decoration: underline;
}